/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*import link*/
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,600&family=Trocchi&display=swap');
/*body styling*/
body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    margin-top: 30px;
}
/* navbar styling */
.navbar li {
    padding-right: 20px;
}
.navbar a{
    font-family: 'Trocchi', serif;
    font-size: 25px;
}
.navbar-brand {
    margin-left: 20px;
}
/* Home styling */
.home {
    color:black;
    padding-top: 50px;
    font-family: 'Open Sans', sans-serif;
}
.home-content {
    align-self: center;
}
.home-image{
    margin-left: 20px;
}
.home .home-content .home-text .text-1{
    font-size: 25px;
    padding-bottom: 40px;
}
.home .home-content .home-text .text-2{
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 40px;
}
.home .home-content .home-text .text-3{
    font-size: 25px;
    margin: 5px 0;
    padding-bottom: 92px;
}
.home .home-content .home-text .text-3 span{
    color: #35A0FB;
    font-weight: 600;
}
.btn-primary {
    text-decoration: none;
    display: inline-block;
    background-color: #35A0FB;
    color: #fff;
    font-size: 25px;
    padding: 17px 17px;
    border-radius: .5rem;
    margin-left: 50%;
}
.btn-primary:hover{
    box-shadow: 0 10px 36px #707070;
}
/*home portfolio start*/
.header-text {
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.port-text {
    color: black;
    font-weight: 500;
    text-align: center;
}
/*transparent text box in home portfolio*/
.home-portfolio {
    position: relative;
    margin: 0 auto;
}
.port-image {
    vertical-align: middle;
  }
.text-box {
    position: absolute;
    background: #CCDDEA;
    top: 349px;
    left: 0%;
    color: black;
    width: 395px;
    padding: 20px;
    opacity: 0.75;
  }
.portfolio {
    margin-top: 45px;
}
/*about styling*/
/* skill bar for about styling*/
.skills-bar {
    display: grid;
    width:600px;
    background: #fff;
    border-radius: 10px;
    padding: 15px 30px;
    margin-top: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
.skills-bar .bar{
    margin: 10px 0;
}
.skills-bar .bar .info {
    font-family: 'Comic Neue', cursive;
    margin-bottom: 10px;
}
.skills-bar .bar .info span{
    font-size: 17px;
    font-weight: 500;
}
.skills-bar .bar .progress-line{
    position: relative;
    height: 26px;
    width:100%;
    background: #DDECF3;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05),
                0px 1px 1px rgba(255,255,255,0.8);
    border-radius: 4px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line span {
    height:100%;
    width:80%;
    background:#8BBDD8 ;
    position: absolute;
    border-radius: 4px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate{
    100%{
        transform: scaleX(1)
    }
}
.progress-line.creative span {
    width:75%;
}
.progress-line.problem-solving span {
    width:65%;
}
.progress-line.branding span {
    width:60%;
}
.progress-line.software span {
    width:85%;
}
.progress-line.teamwork span {
    width:80%;
}
.progress-line.time-management span {
    width:95%;
}
/*educaton and program section styling*/
.about {
    margin-top: 30px;
}
.about-text {
    font-family: 'Comic Neue', cursive;
    margin-top:50px;
}
/*contact styling*/
.contact-box {
    background: #fff;
    border-radius: 10px;
    padding: 15px 30px;
    margin-top: 50px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
.submit {
    margin-left: 0;
    font-size: 20px;
}
/*photography styling*/
.photo-text-box {
    position: absolute;
    background: #CCDDEA;
    top: 394px;
    left: 0%;
    color: black;
    width: 350px;
    padding: 20px;
    opacity: 0.75;
  }
.photography {
    position: relative;
    margin: 0 auto;
}
.photo-image {
    vertical-align: middle;
  }
.photo-text {
    color: black;
    font-weight: 500;
    text-align: center;
}/*videography styling*/
.video-text {
    margin-top: 30px;
    padding-left: 40px;
}
.video-2 {
    margin-top: 40px;
}
/* artwork styling*/
.art-text-box {
    position: absolute;
    background: #CCDDEA;
    top: 394px;
    left: 0%;
    color: black;
    width: 360px;
    padding: 20px;
    opacity: 0.75;
  }
.artwork {
    position: relative;
    margin: 0 auto;
}
.art-image {
    vertical-align: middle;
  }
.art-text {
    color: black;
    font-weight: 500;
    text-align: center;
}
/*graphic design styling*/
.graphic-text {
    margin-top: 30px;
    padding-left: 40px;
}
.graphic-2 {
    margin-top: 40px;
    padding-left: 50px;
}
/* web development styling */
.web-text {
    margin-top: 30px;
    padding-left: 40px;
}
.web-2 {
    margin-top: 40px;
    padding-left: 50px;
}
/* ux/ui design styling */
.ux-text {
    margin-top: 30px;
}
.ux-image {
    margin-top: 40px;
}
/*footer styling*/
footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #707070;
    margin-top: 30px;
}
/* responsive media query start*/
/* Large devices (desktops, 992px and up) */
@media (max-width: 768px) { 
    .home .home-content .home-text .text-1{
        font-size: 22px;
    }
    .home .home-content .home-text .text-2{
        font-size: 40px;
    }
    .home .home-content .home-text .text-3{
        font-size: 22px;
    }
    .home .home-content .home-text .text-3 span{
        color: #35A0FB;
    }
    .btn-primary {
        font-size: 18px;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
    .home .home-content .home-text .text-1{
        font-size: 20px;
    }
    .home .home-content .home-text .text-2{
        font-size: 30px;
    }
    .home .home-content .home-text .text-3{
        font-size: 20px;
    }
    .home .home-content .home-text .text-3 span{
        color: #35A0FB;
    }
    .btn-primary {
        font-size: 15px;
    }
 }
 /* Small devices (landscape phones, 576px and up) */
 @media (max-width: 576px) { 
    .home .home-content .home-text .text-1{
        font-size: 15px;
    }
    .home .home-content .home-text .text-2{
        font-size: 20px;
    }
    .home .home-content .home-text .text-3{
        font-size: 15px;
    }
    .home .home-content .home-text .text-3 span{
        color: #35A0FB;
    }
    .btn-primary {
        font-size: 11px;
    }
  }
 