/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*import link*/
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,600&family=Trocchi&display=swap');
/*body styling*/
body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    margin-top: 30px;
}
/* navbar styling */
.navbar li {
    padding-right: 20px;
}
.navbar a{
    font-family: 'Trocchi', serif;
    font-size: 25px;
}
.navbar-brand {
    margin-left: 20px;
}
/* Home styling */
.home {
    color:black;
    padding-top: 50px;
    font-family: 'Open Sans', sans-serif;
}
.home-content {
    align-self: center;
}
.home-image{
    margin-left: 20px;
}
.home .home-content .home-text .text-1{
    font-size: 25px;
    padding-bottom: 40px;
}
.home .home-content .home-text .text-2{
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 40px;
}
.home .home-content .home-text .text-3{
    font-size: 25px;
    margin: 5px 0;
    padding-bottom: 92px;
}
.home .home-content .home-text .text-3 span{
    color: #35A0FB;
    font-weight: 600;
}
.btn-primary {
    text-decoration: none;
    display: inline-block;
    background-color: #35A0FB;
    color: #fff;
    font-size: 25px;
    padding: 17px 17px;
    border-radius: .5rem;
    margin-left: 50%;
}
.btn-primary:hover{
    box-shadow: 0 10px 36px #707070;
}
/*home portfolio start*/
.header-text {
    margin-top: 50px;
    margin-bottom: 50px;
}
.portfolio-content .header-text {
    margin-bottom: 0;
}
.port-text {
    color: black;
    text-align: center;
}
/*transparent text box in home portfolio*/
.home-portfolio {
    position: relative;
    margin: 0 auto;
}
.port-image {
    vertical-align: middle;
  }
.text-box {
    position: absolute;
    background: #CCDDEA;
    top: 349px;
    color: black;
    padding: 20px;
    opacity: 0.75;
  }
.portfolio {
    margin-top: 45px;
}
/*about styling*/
/* skill bar for about styling*/
.skills-bar {
    display: grid;
    width:600px;
    background: #fff;
    border-radius: 10px;
    padding: 15px 30px;
    margin-top: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
.skills-bar .bar{
    margin: 10px 0;
}
.skills-bar .bar .info {
    font-family: 'Comic Neue', cursive;
    margin-bottom: 10px;
}
.skills-bar .bar .info span{
    font-size: 17px;
    font-weight: 500;
}
.skills-bar .bar .progress-line{
    position: relative;
    height: 26px;
    width:100%;
    background: #DDECF3;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05),
                0px 1px 1px rgba(255,255,255,0.8);
    border-radius: 4px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line span {
    height:100%;
    width:80%;
    background:#8BBDD8 ;
    position: absolute;
    border-radius: 4px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate{
    100%{
        transform: scaleX(1)
    }
}
.progress-line.creative span {
    width:75%;
}
.progress-line.problem-solving span {
    width:65%;
}
.progress-line.branding span {
    width:60%;
}
.progress-line.software span {
    width:85%;
}
.progress-line.teamwork span {
    width:80%;
}
.progress-line.time-management span {
    width:95%;
}
/*educaton and program section styling*/
.about {
    margin-top: 30px;
}
.about-text {
    font-family: 'Comic Neue', cursive;
    margin-top:50px;
}
/*contact styling*/
.get-in-touch{
    max-width:800px;
    margin:50px auto;
    position: relative;
    box-shadow: 0 10px 30px 0px rgba(0,0,0,0.1);
    padding:30px;
}
.get-in-touch .title {
    margin-bottom: 30px;
}
.contact-form .form-field {
    position: relative;
    margin: 32px 0;
}
.contact-form .input-text{
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #000;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label{
    transform: translateY(-24px);
}
.contact-form .input-text:focus{
    outline:none
}
.contact-form .label {
    position: absolute;
    color: #000;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    cursor: text;
}
.contact-form .submit-btn {
    display:inline-block;
    background-color: #35A0FB;
    color: #fff;
    text-transform: uppercase;
    border-radius: .5rem;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 20px 16px;
    border: none;
    width: 150px;
    cursor: pointer;
}
/*photography styling*/
.photo-text-box {
    position: absolute;
    background: #CCDDEA;
    top: 394px;
    left: 0%;
    color: black;
    width: 350px;
    padding: 20px;
    opacity: 0.75;
  }
.photography {
    position: relative;
    margin: 0 auto;
}
.photo-image {
    vertical-align: middle;
  }
.photo-text {
    color: black;
    font-weight: 500;
    text-align: center;
}
.photo-image1{
    margin-bottom: 40px;
}
/*videography styling*/
.video-text {
    margin-top: 30px;
    padding-left: 40px;
}
.video-2 {
    margin-top: 40px;
}
/* artwork styling*/
.art-text-box {
    position: absolute;
    background: #CCDDEA;
    top: 394px;
    left: 0%;
    color: black;
    width: 350px;
    padding: 20px;
    opacity: 0.75;
  }
.artwork {
    position: relative;
    margin: 0 auto;
}
.art-image {
    vertical-align: middle;
  }
.art-text {
    color: black;
    font-weight: 500;
    text-align: center;
}
.art-image1{
    margin-bottom: 40px;
}
/*graphic design styling*/
.graphic-text {
    margin-top: 30px;
    padding-left: 40px;
}
.graphic-2 {
    margin-top: 40px;
    padding-left: 50px;
}
/* web development styling */
.web-text {
    margin-top: 30px;
    padding-left: 40px;
}
.web-2 {
    margin-top: 40px;
    padding-left: 50px;
}
/* ux/ui design styling */
.ux-text {
    margin-top: 30px;
}
.ux-image {
    margin-top: 40px;
}
/*footer styling*/
footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #707070;
    margin-top: 30px;
}
/* responsive media query start*/
/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 576px) { 
    .header-text {
        font-size: 15px;
    }
    .home-text {
        margin-left:20px ;
    }
    .home .home-content .home-text .text-1{
        font-size: 15px;
        padding-bottom: 15px;
    }
    .home .home-content .home-text .text-2{
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 15px;
    }
    .home .home-content .home-text .text-3{
        font-size: 15px;
        padding-bottom: 22px;
    }
    .btn-primary {
        font-size: 10px;
        padding: 7px 7px;
        border-radius: .5rem;
        align-items: center;
    }
    .text-box {
        top: 335px;
        width: 381px;
      }
    .photo-text-box {
        top: 394px;
        left: 13px;
        width: 350px;
        padding: 20px;
      }
    .photo-image2{
        margin-bottom: 40px;
    }
    .gallery-text {
        padding-top: 10px;
        font-size: 15px;
    }
    .video-1 {
        margin-top: 20px;
    }
    .video-2 {
        margin-top: 20px;
    }
    .graphic-1 {
        margin-top: 20px;
    }
    .graphic-2 {
        margin-top: 20px;
    }
 }
/* `md` applies to small devices (landscape phones, less than 768px)*/
@media (min-width: 575.98px) and (max-width: 767.98px) { 
    .header-text {
        font-size: 20px;
    }
    .home-text {
        margin-left: 20px;
    }
    .home .home-content .home-text .text-1{
        font-size: 20px;
        padding-bottom: 20px;
    }
    .home .home-content .home-text .text-2{
        font-size: 36px;
        font-weight: 600;
        padding-bottom: 20px;
    }
    .home .home-content .home-text .text-3{
        font-size: 20px;
        padding-bottom: 30px;
    }
    .btn-primary {
        font-size: 15px;
        padding: 10px 10px;
        border-radius: .5rem;
        align-items: center;
    }
    .graphic-text {
        padding:0; 
        font-size: 20px;
    }
    .text-box {
        top: 350px;
        width: 395px;
      }
      .photo-image2 {
        margin-bottom: 40px;
    }
    .photo-text-box {
        width: 350px;
        left: 83px;
        padding: 20px;
      }
    .art-image2 {
        margin-bottom: 40px;
    }
    .gallery-text {
        font-size: 15px;
    }
    .video-1 {
        margin-bottom: 20px;
    }
    .video-2 {
        margin-bottom: 20px;
    }
    .graphic-1 {
        margin-top: 2;
        margin-bottom: 20px;
    }
    .graphic-2 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .graphic-image2 {
        margin-top: 20px;
    }
}
 /* `lg` applies to medium devices (tablets, less than 992px)*/
 @media (min-width: 768px) and (max-width: 992px) { 
     .header-text {
         font-size: 30px;
     }
     .navbar-nav .nav-link {
        font-size: 20px;
    }
     .home-text {
        margin-left: 20px;
    }
    .home .home-content .home-text .text-1{
        font-size: 25px;
        padding-bottom: 25px;
    }
    .home .home-content .home-text .text-2{
        font-size: 40px;
        font-weight: 600;
        padding-bottom: 25px;
    }
    .home .home-content .home-text .text-3{
        font-size: 25px;
        padding-bottom: 30px;
    }
    .btn-primary {
        font-size: 22px;
        padding: 10px 10px;
        border-radius: .5rem;
        align-items: center;
    }
    .text-box {
        top: 289px;
        width: 336px;
        padding: 20px;
      }
    .photo-text-box {
        width: 336px;
        top: 377px;
    }
    .art-text-box {
        width: 336px;
        top: 364px;
    }
    .photo-image2 {
        margin-bottom: 40px;
    }
    .gallery-text {
        font-size: 18px;
    }
    .video-1 {
        margin-bottom: 30px;
    }
    .video-2 {
        margin-bottom: 30px;
    }
    .graphic-1 {
        margin-bottom: 20px;
    }
    .graphic-2 {
        margin-bottom: 20px;
    }
 }
 /* `xl` applies to large devices (desktops, less than 1200px)*/
 @media (min-width: 991.98px) and (max-width: 1199.98px) { 
    .header-text {
        font-size: 40px;
    }
    .text-box {
        top: 249px;
        width: 296px;
        padding: 20px;
      }
      .photo-text-box {
        top: 326px;
        left: 0%;
        width: 296px;
        padding: 20px;
      }
      .art-text-box {
        top: 315px;
        left: 0%;
        width: 296px;
        padding: 20px;
      }
    .btn-primary {
        font-size: 22px;
    }
    .gallery-text {
        font-size: 22px;
    }
    .video-1 {
        margin-bottom: 30px;
    }
    .video-2 {
        margin-bottom: 30px;
    }
    .graphic-1 {
        margin-bottom: 20px;
    }
    .graphic-2 {
        margin-bottom: 20px;
    }
}
/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width:1199.98px) { 
     .header-text {
         font-size: 50px;
     }
     .text-box {
        top: 309px;
        width: 356px;
        padding: 20px;
      }
    .photo-text-box{
        left: 2px;
        width: 352px;
    }
    .art-text-box{
        top: 389px;
        left: 0%;
        width: 356px;
    }
    .gallery-text {
        font-size: 25px;
    }
    .video-1 {
        margin-bottom: 30px;
    }
    .video-2 {
        margin-bottom: 30px;
    }
    .graphic-1 {
        margin-bottom: 20px;
    }
    .graphic-2 {
        margin-bottom: 20px;
    }
    }
/* XX-Large devices (larger desktops, 1400px and up)*/
    @media (min-width: 1400px) { 
        .text-box {
            top: 349px;
            width: 395px;
            padding: 20px;
          }
        .photo-text-box{
            width: 352px;
            left: 32px;
        }  
        .art-text-box{
            top: 394px;
            width: 360px;
            left: 28px;
        }  
        .gallery-text {
            font-size: 25px;
        }
        .video-1 {
            margin-bottom: 30px;
        }
        .video-2 {
            margin-bottom: 30px;
        }
        .graphic-1 {
            margin-bottom: 20px;
        }
        .graphic-2 {
            margin-bottom: 20px;
        }
    }